@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Spectral:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ddd;
}

.default-theme {
  --main-font:#ffffff;
}


/*************************************** SCROLLBAR ***************************************/
/* Réduit la scrollbar à 0 */
html::-webkit-scrollbar {
  background-color: #fff;
  width: 0px;
}

/*************************************** HEADER ***************************************/
/* Affiche le titre et le sous-titre */
section#header {
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("../img/free-party-fete-clandestine-roumare-petit-quevilly-rouen-v2.jpeg");
}

h1,
h1 span {
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 8vw;
  line-height: 100px;
  letter-spacing: 2px;
  text-align: center;
  rotate: -3deg;
  color: var(--main-font);
  text-shadow: #06418d -10px -10px 0px,#e17f43 5px 5px 0px;
  transition:0.5s ease-out;
}

h1 {
  color: #aaa;
}

/*************************************** INTRO ***************************************/
/* Affiche le cadre et la citation sous le titre */
section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:50vh;
  background-color: #fff;
}

section#intro div {
  color:#eee;
  width:80vh;
  text-align: right;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

section#intro p {
  width:50vw;
  color:#ddd;
  font-size: 5vw;
  font-family: 'Spectral', serif;
  line-height: 8vh;
  letter-spacing: -3px;
}

.smush-text {
  text-align: center;
  overflow: visible;
  font-size:5vw;
  line-height:8vh;
}

section#intro p span {
  font-family: 'Spectral', serif;
  font-style: italic;
  color:#e17f43;
}

@media screen and (max-width:450px) {
  section#intro {
    display: none;
  }

  div.itembandResult {
    display:none;
  }
}


/*************************************** MENU / NAVBAR ***************************************/
/* Affiche le menu vertical et ses liens */
#navbar {
  display: flex;
  height: 100vh;
  width: 50px;
  background-color: #06418d;
  gap: 2vh;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  flex-wrap: nowrap;
  transition:0.5s ease-out;
}

#navbar:hover {
  width: 20vh;
  transition:1s ease-out;
}

#navbar:hover div {
  rotate:0deg;
}

#navbar div {
  text-align: center;
  width: 100%;
  transition: 1s;
  rotate: -90deg;
}

#navbar div:hover {
  transition: 1s;
}

#navbar div:hover a {
  color:var(--main-font);
  transition: 1s;
}

#navbar a {
  transition: color 1s;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 2em;
  color: #fff;
  line-height: 50px;
}

/*************************************** LISTE DES GROUPES ***************************************/
/* Bannière Stairway to Heaven */
.itembandResult {
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
  background-color: #eee;
  background-image: url('../img/pool-party-v2.jpg');
  background-position: center 80%;
  background-size: cover;
}

.itembandResult p {
    color:#fff;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:-5px -5px 0px #06418d, 3px 3px 0px #e17f43;
  transform:rotate(-3deg);
  font-style: normal;
  letter-spacing:-3px;
}

/* Affiche la liste des groupes & style chaque élément */
.listband {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.itemband {
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom:#eee solid 5px;
}

.itemband .horaire {
  text-align: center;
  width:200px;
  font-size:50px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px #06418d; 
  transform:translateX(-100%);
}

.itemband:nth-child(odd) .horaire {
  transform:translateX(100%);
}

.itemband .desc-activite {
  width:30vw;
}

.itemband .name {
  letter-spacing: -2px;
  text-align: right;
  width: 30vw;
  color: #eee;
}

.itemband:hover {
  transition:1s;
}

.itemband:hover .name {
  color:#06418d!important;
}

.itemband .photo {
  height: 24vh;
  width: 24vh;
  background-position: center center;
  background-color:#fff;
  border-radius:50%;
}

.name h2 {
  font-size: 3.8em;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Spectral', serif;
  /* text-transform:uppercase; */
  font-weight: bolder;
  font-style: italic;
  transition: 1s;
  text-shadow: #e17f43 -2px -2px 0px;
}

.itemband:hover h2 {
  letter-spacing: 3px;
  transition: 1s;
}

.itemband:nth-child(odd) {
  background-color: #eeeeee;
  flex-direction: row-reverse !important;
  background-position: right;
}

.itemband:nth-child(odd) .name {
  text-align: left;
  color: #fff;
}

/*************************************** IMAGES DES GROUPES ***************************************/
/* Effet de zoom */
.zoom-effect {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease-out;
  border-radius: 50%;
}

.zoom-effect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

.itemband:hover .zoom-effect img {
  transform: scale(1.8);
}

/*************************************** BTN TO TOP ***************************************/
/* Bouton to top */
.btn-top {
  position: fixed;
  height:60px;
  width:60px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ddd;
}

#btn-top {
  margin:auto;
  background-color: #ddd;
  color:var(--main-font);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height:0px;
  border: none;
  cursor: pointer;
}

.btn-top:focus {
  outline: none;
}

